*{box-sizing:border-box;
  padding:0;
  margin:0;
}
  body{
    background:#01190a;
    /*background:repeating-linear-gradient(to left,#360033 90% , #0b8793,#360033 90% );*/
  }
  footer{
    color:white;
  }
  .App
{
  max-width:1000px;
  width:100%;
  margin:auto;
  padding:20px;
  background:#01190a;
  box-shadow:1px 1px 2px rgba(0,0,0,0.125);
  height:150px;
}
.ting{
  display:inline-flex;
  margin-left:250px;
}
.search{
  margin-left:170px;
  margin-top:10px;
  align-items: center;
    padding:15px;
    width:60%;
    border:solid 3px black;
    border-radius:5px;
    text-align: center;
    font-size:18px;
}
  .h1
  {
    text-align :center;
    color:white;
    font-size:50px;
  }
  
.card{
  width:30%;
  margin:10%;
  transition:all .4s cubic-bezier(.175,.885,0,1);
  background-color:#fff;
  border-radius:12px;
  box-shadow:0 13px 10px-7px rgba(0,0,0,.1);
  float:left;
  height:inherit;
  border:1px solid #967bd0;
}
.card:hover
{
  box-shadow:0 30px 18px-18px rgba(0,0,0,.1);
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
}
.card_img
{
  width:100%;
  height:235%;
  border-top-left-radius:12px;
}
.card_img.card_info
{
  border-top-right-radius:12px;
  height:200px;
}
.card_info
{
  border-radius:12px;
  background-color:#8c00bb;
  display:block;
  height:200px;
  overflow-y:auto;
  padding:16px 10px 24px 24px;
  text-align:justify;
  color:white;
  font-style: italic;
  border:4px solid white;
}
.card_category
{
  font-family:"Raleway",sans-serif;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:2px;
  font-weight:500;
  color:#000;
  background:#b8a4df;
}
.card_title
{
  padding:5px;
  text-transform:capitalize;
  color:white;
  font-size:25px;
  font-weight: 700;
  
}
.card_prop
{
  font-weight: 700;
  font-style: oblique;
  padding:5px;
  font-size:20px;
  color:white;
  border-radius:20px;
  text-transform:capitalize ;

}
.titles{
  display:grid;
  background-color: #8c00bb;
  border-radius: 10px;
  border-radius:20px;
}

button
{
  padding:5px 8px;color:green;background-color:green;
width:100%;
}
.button:hover
{
  background:linear-gradient(57deg,purple,#d2a0f9);
}
.button,button
{
  text-transform:uppercase;
  font-size:13px;
  letter-spacing:2px;
  font-weight:500;
  outline:none;
  border:1px solid #000;
  cursor:pointer;
}
.button{
  align-items: center;
  margin-top:5px;
  width:100%;
  color:white;
  background:#340045;
  border-radius:5px;
  padding:10px 8px 5px;
  margin-top:2px;
  margin-bottom:5px;
  font-weight: 700;
}
@media(max-width:900px)
{
  .card
  {
    float:none;
    margin:5%;
    width:90%;
  }
.App
{
  max-width:600px;
  width:100%;
  margin:auto;
  padding:20px;
   background:#01190a;
  box-shadow:1px 1px 2px rgba(0,0,0,0.125);

}
.ting{
  display:inline-flex;
  margin-left:85px;;
}
.h1
  {
    text-align :center;
    color:white;
    font-size:40px;
  }
  .card_prop
{
  
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  background:repeating-linear-gradient(#9d50bb, #6e48aa );
  font-size:15px;
  color:white;
  border-radius:10px;
  text-transform:capitalize ;

}
  .card{
    width:40%;
    margin:5%;
    transition:all .4s cubic-bezier(.175,.885,0,1);
    background-color:#fff;
    border-radius:12px;
    box-shadow:0 13px 10px-7px rgba(0,0,0,.1);
    float:left;
    height:inherit;
  }
.search{
  margin-left: 50px;
  margin-top:10px;
  align-items: center;
  padding:15px;
  width:80%;
  border:solid 3px black;
  border-radius:5px;
}
}
@media(max-width:600px){
  .App{
    max-width:500px;
    width:100%;
    margin:auto;
    padding:20px;
     background:#01190a;
    box-shadow:1px 1px 2px rgba(0,0,0,0.125);
  }
  .card{
    width:80%;
    margin:10%;
    transition:all .4s cubic-bezier(.175,.885,0,1);
    background-color:#fff;
    border-radius:12px;
    box-shadow:0 13px 10px-7px rgba(0,0,0,.1);
    float:left;
    height:inherit;
  }
  .card_prop
{
  
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  background:repeating-linear-gradient(#9d50bb, #6e48aa );
  font-size:20px;
  color:white;
  border-radius:20px;
  text-transform:capitalize ;

}
  
  .ting{
    display:inline-flex;
    margin-left:40px;;
  }
  .h1
    {
      text-align :center;
      color:white;
      font-size:40px;
    }
  .search{
    margin-left:35px;
    margin-top:10px;
    align-items: center;
    padding:10px;
    width:80%;
    border:solid 3px black;
    border-radius:5px;
  }
  
}
@media(max-width:420px){
  .App{
    max-width:400px;
    width:100%;
    margin:auto;
    padding:20px;
     background:#01190a;
    box-shadow:1px 1px 2px rgba(0,0,0,0.125);
  }
  .card{
    width:80%;
    margin:10%;
    transition:all .4s cubic-bezier(.175,.885,0,1);
    background-color:#fff;
    border-radius:12px;
    box-shadow:0 13px 10px-7px rgba(0,0,0,.1);
    float:left;
    height:inherit;
  }
  .card_prop
{
  
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  background:repeating-linear-gradient(#9d50bb, #6e48aa );
  font-size:18px;
  color:white;
  border-radius:20px;
  text-transform:capitalize ;

}
  
  .ting{
    display:inline-flex;
    margin-left:20px;;
  }
  .h1
    {
      text-align :center;
      color:white;
      font-size:40px;
    }
  .search{
    margin-left:30px;
    margin-top:10px;
    align-items: center;
    padding:10px;
    width:80%;
    border:solid 3px black;
    border-radius:5px;
  }
  
}
@media(max-width:368px){
  .App{
    max-width:320px;
    width:100%;
    margin:auto;
    padding:20px;
     background:#01190a;
    box-shadow:1px 1px 2px rgba(0,0,0,0.125);
  }
  .card{
    width:80%;
    margin:10%;
    transition:all .4s cubic-bezier(.175,.885,0,1);
    background-color:#fff;
    border-radius:12px;
    box-shadow:0 13px 10px-7px rgba(0,0,0,.1);
    float:left;
    height:inherit;
  }
  .card_prop
{
  
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  background:repeating-linear-gradient(#9d50bb, #6e48aa );
  font-size:15px;
  color:white;
  border-radius:20px;
  text-transform:capitalize ;

}
  
  .ting{
    display:inline-flex;
    margin-left:10px;;
  }
  .h1
    {
      text-align :center;
      color:white;
      font-size:35px;
    }
  .search{
    margin-left:30px;
    margin-top:10px;
    align-items: center;
    padding:10px;
    width:80%;
    border:solid 3px black;
    border-radius:5px;
  }
  
}
@media(max-width:325px){
  
  .App{
    max-width:270px;
    width:100%;
    margin:auto;
    padding:20px;
     background:#01190a;
    box-shadow:1px 1px 2px rgba(0,0,0,0.125);
    
  }
  .card{
    width:90%;
    margin:10%;
    transition:all .4s cubic-bezier(.175,.885,0,1);
    background-color:#fff;
    border-radius:12px;
    box-shadow:0 13px 10px-7px rgba(0,0,0,.1);
    float:left;
    height:inherit;
    margin-top:40px;
  }
  
  .ting{
    display:inline-flex;
    margin-left:5px;;
  }
  .h1
    {
      text-align :center;
      color:white;
      font-size:30px;
    }
  .search{
    margin-left:25px;
    margin-top:10px;
    align-items: center;
    padding:10px;
    width:80%;
    border:solid 3px black;
    border-radius:5px;
  }
  .img{
    width:40px;
    height:45px;
  }
  
}
